*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.header {
    padding: 30px;
    /* color: #f1f1f1; */
    background-color: #1a547a;
    border-radius: 1px; color: white;
  }

.font{
  font-size: 2rem;
  font-weight: 600;
}

  li a:hover {
    background-color: #43a9dc;
    color: white;
  }
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .heading{
    font-size: 4rem;

  }
  img{

    position: absolute;
    width: 85px;
    padding-left: 60px;
    height: 90px;
    mix-blend-mode: multiply;
  }


  
